fastapi
uvicorn
python-multipart
openai-whisper
torch
transformers
sentence-transformers
scikit-learn
pandas
numpy
jiwer
num2words
librosa
soundfile
flashtext
xgboost
lime
matplotlib
seaborn
tqdm
scipy